<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.concrete.components">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:supportsRtl="true">
        <activity android:name=".recyclerviewlazycolumn.recycleview.RecycleViewPage">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".devexperience.xml.XmlVsCompose"/>
        <activity
            android:name=".TextCompose"
            android:exported="true"></activity>
    </application>
</manifest>